/servers/ocaml/_build
/servers/rust/target
/servers/odin/server-odin
/servers/zig/server-zig
/servers/zig/.zig-cache
/servers/zig/server-zig.o
/servers/dart/server-dart
/servers/dart/.dart_tool
/servers/dart/*.dill
/servers/dart-pool/server-dart-pool
/servers/dart-pool/.dart_tool
/servers/dart-pool/*.dill
/servers/swift/.build
/servers/swift/Package.resolved
/servers/clojure/libs
/servers/clojure/.cpcache
/servers/clojure/classes
runner/__pycache__/
/results
/loadgen/loadgen
/loadgen-odin/loadgen-odin
/servers/go/gosrv
/servers/go-pool/gosrv-pool
/servers/go-epoll/gosrv-epoll
/servers/lua/rocks
