/servers/ocaml/_build
/servers/rust/target
/servers/odin/server-odin
/servers/zig/server-zig
/servers/zig/.zig-cache
/servers/zig/server-zig.o
runner/__pycache__/
/results
/loadgen/loadgen
/loadgen-odin/loadgen-odin
/servers/go/gosrv
/servers/go-pool/gosrv-pool
/servers/go-epoll/gosrv-epoll
/servers/lua/rocks
